 /*
Dominique Mortelliti
Purple - #423959
Green - #7db394
Pink - #d15085
 <div class="color1"><p>#4f6e96</p></div>
    <div class="color2"><p>#e8d1c1</p></div>
    <div class="color3"><p>#e3dfd6</p></div>
*/
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);
header{
  background-color: #dddddd;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding: 30px;
}
body{
 font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif; 
  background-color:#ebc3c7; 
}

a{
  color:#7db394;
}
h1{
color:#7db394;
font-family: 'Libre Baskerville', serif;
}
h2{ color:#d15085;
}
.color1{
  background-color:#4f6e96;
}
.color1 p{
  color:white;
}
 .color2{
  background-color:#e8d1c1;
 }
.color3{
  background-color:#e3dfd6;
 }
.color3 p{
  color:blue;
}

.colorsquare{
  width:200px;
  height:200px;
  display: inline-block;
}

.site-footer a:hover{
  color:white;
  font-size: 2em;
  text-decoration:underline;
}



.clear{
  clear:both;
}