 /*
Dominique Mortelliti
Purple - #423959
Green - #7db394
Pink - #d15085
 <div class="color1"><p>#4f6e96</p></div>
    <div class="color2"><p>#e8d1c1</p></div>
    <div class="color3"><p>#e3dfd6</p></div>
*/
@import url(http://fonts.googleapis.com/css?family=Libre+Baskerville);


body{
 font-family: "Hoefler Text", "Baskerville old face", Garamond, "Times New Roman", serif; 
  background-color:#ebc3c7; 
}
.main{
width:65%;
margin: 1%;
float: left;
border:solid 5px black;
border-radius: 10px;
background-color:#ebc3c7;
}

.sidebar{
width:30%;
margin: 1%;
float: right;
border:solid 5px black;
border-radius: 10px;
background-color:#ebc3c7;
}

ul, .project-list{
padding: 10%;
text-align: left;
}

hr{
width:90%;
border: 1px solid black;
}

a{
  color:#7db394;
}
.title{
color:#7db394;
font-family: 'Libre Baskerville', serif;
text-align: left;
}
.title2{
font-family: 'Libre Baskerville', serif;
color:#d15085;
font-size: 1.5em; 
}
h2{ color:#d15085;
}
.color1{
  background-color:#4f6e96;
  
}
.color1 p{
  color:white;
}
 .color2{
  background-color:#e8d1c1;
 }
.color3{
  background-color:#e3dfd6;
 }
.color3 p{
  color:blue;
}

.colorsquare{
  width:150px;
  height:150px;
  display: inline-block;
  padding: 10%;
}

.site-footer{
border: 5px solid black;
border-radius:10px; 
background-color:#ebc3c7;
margin: 2%;
}
ul, .footer-list{
list-style-type: none;
text-align: center;

}
.footer-list li{
  display: inline-block;
}

.site-footer a:hover{
  color:white;
  font-size: 2em;
  text-decoration:underline;
}

.navigation li{
list-style: none;
}

.clear{
  clear:both;
}
.clearfix {
  overflow: auto;
}