 /*
Dominique Mortelliti
Purple - #423959
Green - #7db394
Pink - #d15085
*/
a{
  color:#7db394;
}
h1{
color:#7db394;
}
h2{ color:#d15085;
}
div{
  width:200px;
  height:200px;
  background-color:#4f6e96;
}